
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 
.modal-content {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #444;
}
 
.close-button:hover {
  color: #000;
}
/*  
.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
.modal-content button {
  padding: 6px 8px;
  margin: 5px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
 
.modal-content button:hover {
  background-color: rgb(63, 139, 63);
}
 
.modal-content img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
 
   */

   nav {
  width: 97%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between; /* This ensures space between items */
  align-items: center; /* Vertically align items */
  padding: 15px 20px; /* Adjusted padding for better spacing */
}

.signup{
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

link:hover{
  background-color: #000;
}

.product{
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

.cart{
  margin-right: 80%;
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}