
  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
 
.modal-content {
  background-color: #fff;
  padding: 30px 25px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

.close-button {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #444;
}
 
.close-button:hover {
  color: #000;
}

nav {
  width: 97%;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 15px 20px; 
}

.signup{
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

link:hover{
  background-color: #000;
}

.product{
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

.cart{
  margin-right: 80%;
  text-decoration: none;
  color: white;
  border: 10px;
  padding: 10px;
  background-color: red;
  border-radius: 4px;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

